.form-cat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

.div-input{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.div-input label{
    align-items: flex-start;
    width: 30%;
}

.div-input input{
    align-items: flex-end;
    width: 70%;
}