<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
    <title>Api Parking poitiers</title>
    <link rel="stylesheet" media="screen" href="http://192.168.86.28:8080/build.css">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

    </head>
    <body>
        <h1>Welcome to Play!</h1>
        <div id="root"></div>
        @* And here's where we render the `Html` object containing
        * the page content. *@
        <script src="http://192.168.86.28:8080/build.js"></script>

    </body>
</html>
